.autour-one-regular {
  font-family: "Autour One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.book-open-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: calc(100% + 5px); /* Position the tooltip below the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: 100px; /* Adjust the width as needed */
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.book-open-link:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
